nav.navbar.navbar-default.navbar-fixed-bottom
  .container
    .navbar-header
      a.navbar-brand(href='http://www.github.com/3kg4kR/active_record', target='_blank')
        img(alt='ActiveRecord Logo', src='public/logo.png', width='100', height='30')
        small  #{VERSION}
